<!DOCTYPE html>
<html>
<head>
	<title>Eat This Burger Bruh!</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="page-wrap">
	<div class="row">
		<div id="header" class="container col-xs-12 text-center">
			<h1>Bruh! Eat this burger!</h1>
			<img src="/img/burger.png">
		</div>
	</div>
	{{{ body }}}
	</div>
</body>
</html>